.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/*
    Note: It is best to use a less version of this file ( see http://css2less.cc
    For the media queries use @screen-sm-min instead of 768px.
    For .omb_spanOr use @body-bg instead of white.
*/

@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
  line-height: 300%;
}
  
.omb_login .omb_socialButtons a {
  color: white; // In yourUse @body-bg 
  opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
  opacity:1;      
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
  position: relative;
  font-size: 1.5em;
  color: #aaa;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
  display: block;
  position: absolute;
  left: 50%;
  top: -0.6em;
  margin-left: -1.5em;
  background-color: white;
  width: 3em;
  text-align: center;
}     

.omb_login .omb_loginForm .input-group.i {
  width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}

  
@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
    margin-top:10px;
  }   
}
/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{ vertical-align:baseline;}/* vertical align baseline */
.vertical-top{  vertical-align:top;}/* vertical align top */
nav.vertical ul li{ display:block;}/* vertical menu */
nav.horizontal ul li{ display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
/****-----start-body----****/
body{
  background:#3C4C55;
  font-family: 'Oxygen', sans-serif;
}
.main{
  margin:7em auto 0;
  width:44%;
}

.main h2,.main h3{
  font-size: 1em;
  text-align: center;
  color:#fff;
  padding:1em 0;
  font-family: 'Oxygen', sans-serif;
}
.main h3{
  font-size: 1em;
  text-align:left;
  font-family: 'Oxygen', sans-serif;
}

ul.facebook{
  list-style:none;
  padding:0;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  background: #3B5998;
  padding: 12px;
}
i.fb{
  width:30px;
  height:30px;
  background:url(../images/fb.png);
  float:left;
  margin-right: 2em;
}
ul.facebook li{
  color:#fff;
  font-size:1em;
  float: left;
  margin-top: 5px;
}
ul.facebook:hover{
  background: #5D7BBA;
}

ul.twitter{
  list-style:none;
  padding:0;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  background:#55ACEE;
  padding: 12px;
}
i.tw{
  width:30px;
  height:30px;
  background:url(../images/tw.png);
  float:left;
  margin-right: 2em;
}
ul.twitter li{
  color:#fff;
  font-size:1em;
  float: left;
  margin-top: 5px;
}
ul.twitter:hover{
  background: #71B8ED;
}
span.term a{
  color: #1888A8;
  font-weight: bold;
}
span.term a:hover{
  color:#fff;
}
.lable input[type="text"] {
  padding: 15px;
  font-size: 1.1em;
  margin: 18px 0px;
  color: #666666;
  width:87%;
  cursor: pointer;
  font-family: 'Oxygen', sans-serif;
  outline: none;
  font-weight: 600;
  margin-left: 3px;
  background: #FFFFFF;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  border-left: 6px solid #fff;
  border-bottom: none;
  border-right: none;
  border-top: none;
}
.lable input[type="text"]:hover,.lable-2 input[type="text"]:hover,input[type="Password"]:hover,#active {
  color:#DCDCDC;
  border-left:6px solid#40A46F;
}
.lable-2 input[type="text"],input[type="Password"] { 
  padding: 14px;
  width: 94%;
  font-size: 1em;
  margin: 18px 0px;
  border:none;
  color: #666666;
  cursor: pointer;
  background: none;
  float: left;
  outline: none;
  font-weight: 700;
  font-family: 'Oxygen', sans-serif;
  background: #ffffff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  border-left: 6px solid #fff;
  border-bottom: none;
  border-right: none;
  border-top: none;
}
.submit{
  padding:5px 4px;
  text-align: center;
}
input[type=submit] {
  padding: 17px 30px;
  color: #fff;
  float: right;
  font-family: 'Oxygen', sans-serif;
  background: #40A46F;
  border: 1px solid #40A46F;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  outline:none;
  width: 100%;
  -webkit-appearance: none;
}
.submit input[type=submit]:hover {
   background:#07793D;
   border:1px solid #07793D;
}
/**start-copy-right**/
.copy-right {
  text-align: center;
  margin: 2em 0;
}
.copy-right p {
  color: #FFF;
  font-size:1em;
}
.copy-right p a {
  font-family: 'Oxygen', sans-serif;
  font-size:1em;
  font-weight:600;
  color:#55ACEE;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.copy-right a:hover{
  color:#fff;
}
.col_1_of_2:first-child {
  margin-left: 0;
}
.span_1_of_2 {
  width:49.7%;
}
.col_1_of_2 {
  display: block;
  float: left;
  margin:0 0 0 0.6%;
}
.col_1_of_f:first-child {
  margin-left: 0;
}
.span_1_of_f {
  width:49.7%;
}
.col_1_of_f {
  display: block;
  float: left;
  margin:0 0 0 0;
}
/*----start-responsive design-----*/
@media (max-width:1024px){
.col_1_of_2 {
  margin: 0 0 0 3.6%;
}
.span_1_of_2 {
  width: 47.7%;
}
.span_1_of_f {
  width: 50%;
}
i.fb, i.tw {
  margin-right: 1em;
}
.main {
  width: 50%;
}
}
@media (max-width:800px){
.span_1_of_f {
  width: 100%;
}
.col_1_of_f {
  float:none;
}
.span_1_of_2 {
  width: 100%;
}
.col_1_of_2 {
  margin:0;
}
.lable-2 input[type="text"], input[type="Password"] {
  padding: 14px;
  width: 89%;
}
}
@media (max-width:480px){
.main {
margin: 7em auto 0;
width:70%;
}
}
@media (max-width:320px){
.main {
  width:80%;
}
.lable input[type="text"] {
  width: 83%;
}
.lable-2 input[type="text"], input[type="Password"] {
  width: 84%;
}
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}