*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*{margin:0; padding:0}
img{ max-width:100%;}

html,body{height:100%; font-family:Calibri, Verdana, Geneva, sans-serif !important; font-size:16px !important; }
a:hover{ text-decoration:none;}


.navbar-default{ margin-bottom:0 !important;}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.position-fixed-top{ position:fixed !important; left:0; right:0; top:0; z-index:5}
.position-fixed-bottom{ position:fixed !important; left:0; right:0; bottom:0; z-index:5}


.navbar-brand{ height:auto !important;     padding: 6px 15px !important;}
.navbar-nav>li>a {
    padding-top: 7px !important;
    padding-bottom: 7px !important;
	margin: 0 10px;
	color:#E06938 !important;
}
.navbar-nav>li>a:hover { background-color:#C0488A !important; color:#ffffff !important;}
.navbar-nav>li>a.active { background-color:#C0488A !important; color:#ffffff !important;}
.navbar-nav>li+li{ border-left:1px solid #000000;}
.navbar-right {
    margin-top: 15px!important;
}
.footer-nav {
    background-color: #E66537;
    padding: 7px 15px;
}
.footer-nav p, .footer-nav a {
    display: inline-block;
    color: #ffffff;
    line-height: 35px;
	margin:0;
}













/*-------------menu-animation------------------*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

#main-wrapper {
	-webkit-transition: margin-left .5s;
       -o-transition: margin-left .5s;
          transition: margin-left .5s;
}



#form .form-control{     width: 65% !important; display: inline-block !important;float: right;} 
#form >span > div {
    clear: both;
        display: inline-block;
    width: 100%;
    margin-top: 0px !important;
    /* border: 1px solid; */
}

#form >span > div>span> b {
    margin-top: 7px;
    display: inline-block;
}

#form button{border: 0px;
    color: #ffffff !important;
    background-color: #FF6600 !important;
    margin: 20px auto !important;
    text-align: center !important;}
#form button b {
    color: #ffffff !important;
    text-align: center;
    display: block;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*-------------------------------------*/

.HomePage-banner{ background-image:url(../images/home-bg.jpg); background-repeat:no-repeat; background-size:cover; padding:25px 0px 45px;}
.search-section{padding: 5% 0 4%; }
.search-section .arrow{padding-right:5px;
overflow: hidden;
background-image: url("../images/arrow.png");
background-repeat:no-repeat;
background-position: 96% 50%;
}

.search-section select,.search-section input,.search-section button{ width:100%; height:40px; border-radius:6px; border:0px; margin-bottom:15px;}

.search-section input[type="button"]{ background-color:#00A3E4; color:#ffffff; font-size:20px; }
.search-section select{  color:#cdcdcd; font-size:17px; padding-left:20px;-webkit-appearance: none;
  -moz-appearance: none; }
  
.search-section input[type="text"]{padding-left:20px; }
.search-section select option{  color:#000000; font-size:17px; padding-left:20px; }

.heading-style{ position:relative;}
.heading-style h1 {
    margin: 0 !important;
    background-color: #ffffff;
    padding: 3% 30px;
    position: relative;
    display: inline-block;
}
.heading-style:before{ position:absolute; content:""; left:0; right:0; height:4px; background-color:#00A3E4; top:50%; width:100%;}

.popular-classes .col-lg-3 > div{ background-color:#ffffff;padding: 15px; max-width: 219px;  margin:0 auto 29px;}
.popular-classes .col-lg-3 > div > span,.popular-classes .col-lg-3 > div > b{ display:block; width:100%; text-align:left;    font-size: 13px;}
.popular-classes .col-lg-3 > div > span img{
    margin-bottom: 2px;
}
.popular-classes .col-lg-3 > div > img{ margin-bottom:10px;}
.popular-classes .col-lg-3 > div > span b:nth-of-type(2){ color:#808080;}
.popular-classes .col-lg-3 > div > b {
    font-size: 20px;
    margin-bottom: 8px;
}

.view-more {
    background-color: #00A3E4;
    color: #ffffff;
    padding: 4px 6px;
    border-radius: 5px;
    font-size: 16px;
    margin: 1% auto;
    display: inline-block;
}
.view-more-org {
    background-color: #FF6600;
    color: #ffffff;
    padding: 4px 6px;
    border-radius: 5px;
    font-size: 16px;
    margin: 1% auto;
    display: inline-block;
}
.view-more-org:hover,.view-more-org:hover{ color:#000000 !important;}


.logo > img {
    max-width: 121px;
}

.menu-bar {
    margin-top: 16px;
    margin-bottom: 16px;
}
.menu-bar .menu-btn {
        margin-top: 11px;
    display: block;
}
.menu-bar .menu-btn img{
    max-width: 25px;
}
.menu-bar .login {
    margin-top: 9px;
    font-size: 15px;
    display: inline-block;
	    padding: 0 10px;
		color:#000000;
}
.menu-bar .login img{
    margin: 0 5px 3px;
}
.menu-bar .sign-up {
    margin-top: 9px;
    font-size: 15px;
    display: inline-block;
	    padding: 0 10px;
		color:#000000;
}

.search-bar {
    border: 1px solid #cdcdcd;
    max-width: 555px;
    height: 36px;
    padding-top: 1px;
    position: relative;
    overflow: hidden;
}
.search-bar input[type="text"] {
    max-width: 100%;
    height: 32px;
    vertical-align: top;
    border: 0;
    padding-left: 20px;
    font-size: 18px;
    width: 100%;
}
.search-bar input[type="button"] {
    width: 43px;
    height: 32px;
    background-color: #006FC2;
    border: 0;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 1px;
    top: 1px;
	    background-size: 24px;
}
.profile-wrapper{ padding:35px 15px;}
.profile-wrapper .information{ margin-top:0px;}
.profile-wrapper .information b{ font-size:16px;}
.profile-wrapper .information p{ margin-bottom:7px;}
.profile-wrapper .information span{ font-size:18px; margin-right: 4px;}
.profile-wrapper .rating{ margin-top:0px;}
.profile-wrapper .rating h3{ font-size:18px;}
.profile-wrapper .rating span {
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    position: relative;
    top: 21px;
    left: -8px;
}

.info-nav{ padding:15px;}
.info-nav ul{ margin-bottom:0;}
.info-nav ul li{ display:inline-block; list-style:none;}
.info-nav ul li a {
    display: block;
    padding: 5px;
    font-size: 18px;
    color: #000000;
    font-weight: bold;
    margin: 2px 4px;
	background-color:#cccccc;
	    width: 207px;
}
.info-nav ul li a.active{ background-color:#FF6600; color:#ffffff;}
.info-nav ul li a:hover{ background-color:#FF6600; color:#ffffff;}
.sort-by-nav{ background-color:#EEEEEE;    padding: 15px;}
.sort-by-nav .sort-by{background-color:#006FC2 !important;padding: 0 3px !important; position:relative; }
.sort-by-nav .sort-by:before {
    content: "";
    position: absolute;
    right: -6px;
    top: 8px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 11px solid #006FC2;
    border-bottom: 15px solid transparent;
    z-index: 1;
}
.sort-by-nav .sort-by span{text-align: center; color:#ffffff !important; display:block; width:100%;height: 45px !important;font-size: 27px;line-height: 45px;}
.sort-by-nav .filter-nav .col-lg-12{background-color: #dddddd; padding:0px !important;    margin: 2px 0px;}
.sort-by-nav .filter-nav a {
    color: #000000;
    display: block;
    width: 100%;
    height: 45px;
   /* background-color: #dddddd;*/
    line-height: 45px;
	    padding-left: 15px;
}
.sort-by-nav .filter-nav a .category{
    /* border: 1px solid; */
    display: inline-block;
    float: right;
    width: 50px;
    text-align: center;
    color: #ffffff;
    background-color: #B3B3B3;
    font-size: 18px;
}
.sort-by-nav .filter-nav a:hover{
    box-shadow: inset 0px 0px 15px #cdcdcd;
    color: #999;
}
.sort-by-nav .filter-nav a img{ float:right;    height: 45px;}
.sort-by-nav .filter-nav .col-md-3{ padding: 0 3px !important }



.profile-wrapper-sort-by {
    
float:right !important;
}
.profile-wrapper-sort-by .information{ margin-top:25px;}
.profile-wrapper-sort-by .information b{ font-size:22px;}
.profile-wrapper-sort-by .information span{ font-size:18px;}
.profile-wrapper-sort-by .rating{ margin-top:35px;}

.profile-wrapper-sort-by .rating p {
    position: relative;
    height: 74px;
    line-height: 74px;
    text-align: center;
}
.profile-wrapper-sort-by .rating img {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
	   max-width: 90px;
}
.profile-wrapper-sort-by .rating span {
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    position: relative;
    top: 9px;
    left: 0;
	right:0;
	margin:0 auto;	 
}
.profile-wrapper-sort-by .rating h3{ text-align:center;}
.profile-wrapper-sort-by > .row{background-color: #ffffff;padding: 20px 15px;
       margin: 0px auto 15px;}
.other-streas{ padding:0 !important; position:absolute !important; background-color:#B3B3B3; height:100%;}
.other-streas ul li {
    list-style: none;
    text-align: center;
    border-bottom: 3px solid #B3B3B3;
    box-shadow: inset 0px 2px 18px #cdcdcd;
	background-color:#ffffff;
}
.other-streas ul li:hover{
    box-shadow: inset 0px 0px 4px #cdcdcd;
}
.other-streas ul li:hover a{ font-weight:bold;}
.other-streas ul li a {
    display: block;
    padding: 4px 5px;
	color:#000000;
}
.other-streas h2{
    background-color: #B3B3B3;
    margin: 0;
    padding: 31px 5px;
    text-align: center;
    color: #ffffff;
}
.domain-wrapper ul li {
    display: inline-block;
    max-width: 150px;
    width: 100%;
    margin: 5px;

}


.domain-wrapper .row{
    max-width: 600px;
    margin: 6px auto;
}
.domain-wrapper .row input[type='radio'] {
    -webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
    width: 15px;
    height: 15px;
    /* border: 1px solid darkgray; */
    border-radius: 50%;
    outline: none;
    box-shadow: 0 0 5px 0px gray inset;
    position: relative;
    top: 2px;
    left: -11px;
}
.domain-wrapper .row input[type='radio']:hover {
    box-shadow:0 0 5px 0px orange inset;
}
.domain-wrapper .row input[type='radio']:before {
    content:'';
    display:block;
    width:60%;
    height:60%;
    margin: 20% auto;    
    border-radius:50%;    
}
.domain-wrapper .row input[type='radio']:checked:before {
    background:#FF6600;
}
.subject-wrapper  .row{max-width:625px; margin:0 auto 15px; text-align:center;}
.subject-wrapper  .row input{ width:100%; background-color:transparent; border:1px solid #cdcdcd;}
.ranker-wrapper  .row{max-width:990px !important; margin:0 auto 15px; text-align:center;}
.ranker-wrapper  .row input{ width:100%; background-color:transparent; border:1px solid #cdcdcd;}


.merit-ranker h3,.merit-ranker h5{ font-weight:bold;}
.merit-ranker h3 {
    margin: 18px 0 3px;
}
.merit-ranker h5{ margin-top:2px;}
.merit-ranker p{ margin-bottom:0;}



.our-teacher h3,.our-teacher h5{ font-weight:bold;}
.our-teacher h3 {
    margin: 18px 0 3px;
}
.our-teacher h5{ margin-top:2px;}
.our-teacher p{ margin-bottom:0;}
.course-wrapper b {
    border: 2px solid #00CCFF;
    border-radius: 5px;
    padding: 5px 15px;
    display: inline-block;
    margin: 6px;
}

.course-wrapper b.active { background-color:#00CCFF; color:#ffffff;}

.input-switch + label {
    position: relative;
    display: inline-block;
    height: 22px;
    width: 77px;
    border: 1px solid #FF6600;
    border-radius: 50px;
    background-color: #FF6600;
    line-height: 25px;
    text-align: left;
    -webkit-transition: background-color 0.5s;
}

.input-switch {
  display: none;
}

.input-switch + label span.grip {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #EEE;
    border-radius: 50px;
    -webkit-transition: left 0.5s;
}

.input-switch + label span.switch-label {
  position: absolute;
  display: inline-block;
  top: -2px;
  left: 17px;
  width: 59px;
  overflow: hidden;
  text-align: center;
  -webkit-transition: opacity 0.5s;
}

.input-switch + label span.switch-label.on {
  left: 2px;
  opacity: 0;
}

.input-switch:checked + label {
  background-color: #666;
  border: 1px solid #666;
}

.input-switch:checked + label span.grip {
  left: 55px;
}

.input-switch:checked + label span.switch-label {
  opacity: 0;
}

.input-switch:checked + label span.switch-label.on {
  opacity: 1;
} 
.file-upload {
  position: relative;
  overflow: hidden;
  margin: 10px; }

.file-upload input.file-input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
      z-index: 11;
  filter: alpha(opacity=0); }
  
  
  
.error-message{ display:block; clear:both; width:100%; text-align:right; height:21px;}  
/*-----------------------------------------------*/

.edit-profile-wrapper{ padding:3% 15px}  

.edit-profile-wrapper .row {
    max-width: 990px !important;
    margin: 0 auto 15px;
    text-align: center;
}
.edit-profile-wrapper .row input {
    width: 100%;
    background-color: transparent;
    border: 1px solid #cdcdcd;
}
/*.edit-profile-wrapper .error-message{ display:none !important;}  
.edit-profile-wrapper #form >span > div{ margin-bottom:5px;}
  

.edit-profile-wrapper #form .form-control {
    width: 84% !important;
}
.location-input {
    border: 1px solid;
    display: block;
}
.location-input > .row{
    margin: 0;
}
.location-input > .row .col-md-6 input {
    width: 50%; 
}
.location-input > .row .col-md-6 input {
    width: 70% !important;
}*/

.class-line .class-line-row { background-color:#ffffff; padding:10px; margin-bottom:10px;}
.class-line .information p{ margin-bottom:5px;}
.class-line .information h3 {
    margin: 7px 0;
}
#friend .friend {
    margin: 0 !important;
    padding: 5px 5px !important;
    display: inline-block;
    /* border: 1px solid; */
    width: 100%;
}

.suggested{ background-color:#DDDDDD;}
.suggested .classes{ margin:0; padding:5px 5px}
.suggested .classes h5 {
    font-size: 13px;
    margin: 0;
}
.suggested .classes {margin-bottom:10px;}
.suggested .classes p{ margin-bottom:5px;}
.suggested .classes h3 {
    margin: 7px 0;
}
.suggested .classes b{ color:#4D4D4D;}
.suggested .classes .col-md-3 {
	    margin-top: 5px;
    padding: 0 3px !important;
}

@media (max-width: 992px) {
.menu-bar .logo {
    margin-top: 12px;
    display: block;
}
}

@media (max-width: 992px) {

}

@media (max-width: 767px) {
.profile-wrapper .information{ text-align:center;}	
.profile-wrapper-sort-by {   
float:none !important;
}
.our-teacher p:last-of-type { margin-bottom:15px;}	
.other-streas{ padding:0 !important; position:relative !important;}
.search-bar {
    margin-top: 40px;
	    max-width: 100%;
 
}	
	
.menu-bar .logo {
    margin-top: 0px;
    display: block;
}
}