<div class="row">
		<div class="col-md-6 col-md-offset-1 contact-form-wrapper">
              <!-- Contact Form-->
              <form class="contact-form" ng-submit="save()">
                <!-- <div class="field">
                  <input type="text" name="name" ng-model="userDetails.aboutUs.name" placeholder="Name">
                </div>
                <div class="field">
                  <input type="email" name="email" placeholder="E-mail">
                </div>
                <div class="field">
                  <input type="tel" name="phone" placeholder="Phone">
                </div>
                <div class="field">
                  <textarea name="Message" cols="10" rows="10" placeholder="Message"></textarea>
                </div> -->
                <div class="field" ng-repeat='edit in userDetails.aboutUs'>
                	<label>{{edit.field}}</label><input type="{{edit['type']}}" name="name" ng-model="edit.value" placeholder="{{edit['field']}}" ng-show="edit.value || edit.value === null">
                  <div ng-click="edit.value = null" ng-hide="edit.value || edit.value === null">+ Add username</div>
                </div>
                <input type="submit" class="col-dm"value="Save" class="submit">
              </form>
    </div>
</div>