<div class="container-fluid menu-bar">
	<div class="container">
    	<div class="row">
        	<div class="col-md-1 col-sm-2 col-xs-4  text-center"><a href="#" class="menu-btn" onclick="openNav()"><img src="images/menu.png" /></a></div>
            <div class="col-md-2 col-sm-2 col-xs-8 text-center">
            	<a href="#" class="logo"><img src="images/logo.png" /></a>
            </div>
            <div class="col-md-7 col-sm-6 col-xs-12">
            	<div class="search-bar">
                	<input type="text" placeholder="Search" />
                    <input type="button" />
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12 text-center" style="padding:0;">
            	<a href="#" class="login"><img src="images/login.png" /><strong>Login</strong></a>
                <a href="#" class="sign-up"><strong>Sign Up</strong></a>
            </div>
        </div>
    </div>
</div>
<div ui-view=""></div>