<div ng-controller="homepageCtrl">
<div class="jumbotron jumbotron-1">
          <div class="container">
            <div class="ribbon" ng-repeat="class in classes">
              <ul>
                <li><i class="fa fa-star-o"></i></li>
                <li>
                  <h2>{{class.name}}</h2>
                </li>
                <li><i class="fa fa-star-o"></i></li>
              </ul>
            </div>
            <p>We build up the best education nvironment for children and direct them to express themselves at most</p>
          </div>
        </div>
      

      <!-- Features-->
      <div class="features-wrapper index-1">
        <div class="container">
          <!-- Features Row-->
          <div class="features row">
            <!-- Feature 1-->
            <div class="feature-outer col-sm-6 col-lg-3 col-md-6 col-xs-12">
              <div class="feature color-1">
                <div class="icon"><img src="images/icons/atom-1.png" alt="" class="img-responsive"/></div>
                <h2>Professional Teaching</h2>
                <p>We create the best learning environment with funny and happy activities for all students</p>
              </div>
            </div>
            <!-- Feature 2-->
            <div class="feature-outer col-sm-6 col-lg-3 col-md-6 col-xs-12">
              <div class="feature color-2">
                <div class="icon"><img src="images/icons/compass-1.png" alt="" class="img-responsive"/></div>
                <h2>Fully Equiped</h2>
                <p>We create the best learning environment with funny and happy activities for all students</p>
              </div>
            </div>
            <!-- Feature 3-->
            <div class="feature-outer col-sm-6 col-lg-3 col-md-6 col-xs-12">
              <div class="feature color-3 bottom">
                <div class="icon"><img src="images/icons/light-bulb-1.png" alt="" class="img-responsive"/></div>
                <h2>Funny and Happe</h2>
                <p>We create the best learning environment with funny and happy activities for all students</p>
              </div>
            </div>
            <!-- Feature 4-->
            <div class="feature-outer col-sm-6 col-lg-3 col-md-6 col-xs-12">
              <div class="feature color-4 bottom">
                <div class="icon"><img src="images/icons/graduation-1.png" alt="" class="img-responsive"/></div>
                <h2>Fulfill With Love</h2>
                <p>We create the best learning environment with funny and happy activities for all students</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- About Us-->
      <div class="about-wrapper index-1">
        <div class="container">
          <!-- Section Name-->
          <div class="section-name index-1">
            <h1>About Us</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, ab.</p>
            <div class="sep"></div>
          </div>
          <!-- Tab switcher-->
          <ul class="nav nav-pills tab-switcher text-center">
            <li><a data-toggle="tab" href="#tab-1">Our Foundation</a></li>
            <li class="active"><a data-toggle="tab" href="#tab-2">Our Mision</a></li>
          </ul>
          <!-- Tabs Content-->
          <div class="tab-content">
            <!-- Tab Content 1-->
            <div id="tab-1" class="tab-pane">
              <div class="row">
                <!-- Info Block-->
                <div class="carousel">
               <!--    <ul class="carousel-wrapper">
                    <li class="carousel-box"><img src="images/others/owl-image-1.jpg" alt=""/></li>
                    <li class="carousel-box"><img src="images/others/owl-image-4.jpg" alt=""/></li>
                    <li class="carousel-box"><img src="images/others/owl-image-5.jpg" alt=""/></li>
                  </ul> -->
                </div>
                <p>Our mission is to help every child be well-prepared for their futures with different solf-skills, fast and accurate <br/> in problem solving and make the best decision in every situations.        </p>
              </div>
            </div>
            <!-- Tab Content 2-->
            <div id="tab-2" class="active tab-pane">
              <div class="row">
                <!-- Image-->
                <div class="img col-md-6"><img src="images/others/teacher.png" alt="" class="img-responsive"/></div>
                <!-- Info Block-->
                <div class="info-block col-md-6">
                  <p>We are group of teachers who really love childrens and enjoy every moment of teaching and playing with our students.</p><br/>
                  <p>Our teachers graduated from differnt Universities with different subjects but its all included in Education Major. Therefore, we are very confident with our knowledge and teaching skills.</p>
                  <ul>
                    <li><i class="fa fa-check"></i>
                      <h5>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</h5>
                    </li>
                    <li><i class="fa fa-check"></i>
                      <h5>Nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat</h5>
                    </li>
                    <li><i class="fa fa-check"></i>
                      <h5>Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</h5>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Team-->
      <div class="team-wrapper index-1">
        <div class="container">
          <!-- Section Name-->
          <div class="section-name index-1">
            <h1>Our Teachers</h1>
            <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy</p>
            <div class="sep"></div>
          </div>
          <div class="team-members row">
            <!-- Team Member 1-->
            <div class="team col-md-6 col-sm-6 col-xs-12">
              <div class="team-member color-1">
                <ul class="meta">
                  <li><a href="#">
                      <h2>Anna Pickard</h2></a></li>
                  <li>
                    <h4>Vocal Teacher</h4>
                  </li>
                </ul>
                <div class="image"><img src="images/teachers/teacher-1.png" alt="" class="img-responsive"/>
                  <div class="mask index-1"><a href="#">
                      <div class="icon">
                        <div class="icon-square"><i class="fa fa-mail-forward"></i></div>
                      </div></a></div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna</p>
                <div class="line"></div>
              </div>
            </div>
            <!-- Team Member 2-->
            <div class="team col-md-6 col-sm-6 col-xs-12">
              <div class="team-member color-2">
                <ul class="meta">
                  <li><a href="#">
                      <h2>Abe Cherian</h2></a></li>
                  <li>
                    <h4>Cooking Teacher</h4>
                  </li>
                </ul>
                <div class="image"><img src="images/teachers/teacher-2.png" alt="" class="img-responsive"/>
                  <div class="mask index-1"><a href="#">
                      <div class="icon">
                        <div class="icon-square"><i class="fa fa-mail-forward"></i></div>
                      </div></a></div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna</p>
                <div class="line"></div>
              </div>
            </div>
            <!-- Team Member 3-->
            <div class="team col-md-6 col-sm-6 col-xs-12">
              <div class="team-member color-3">
                <ul class="meta">
                  <li><a href="#">
                      <h2>Lyin Clark</h2></a></li>
                  <li>
                    <h4>Drawing Teacher</h4>
                  </li>
                </ul>
                <div class="image"><img src="images/teachers/teacher-3.png" alt="" class="img-responsive"/>
                  <div class="mask index-1"><a href="#">
                      <div class="icon">
                        <div class="icon-square"><i class="fa fa-mail-forward"></i></div>
                      </div></a></div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna</p>
                <div class="line"></div>
              </div>
            </div>
            <!-- Team Member 4-->
            <div class="team col-md-6 col-sm-6 col-xs-12">
              <div class="team-member color-4">
                <ul class="meta">
                  <li><a href="#">
                      <h2>James Clock</h2></a></li>
                  <li>
                    <h4>Dancing Teacher</h4>
                  </li>
                </ul>
                <div class="image"><img src="images/teachers/teacher-4.png" alt="" class="img-responsive"/>
                  <div class="mask index-1"><a href="#">
                      <div class="icon">
                        <div class="icon-square"><i class="fa fa-mail-forward"></i></div>
                      </div></a></div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna</p>
                <div class="line"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- News-->
      <div class="news-wrapper index-1">
        <div class="container">
          <!-- Section Name-->
          <div class="section-name index-1">
            <h1>Our News</h1>
            <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy</p>
            <div class="sep"></div>
          </div>
          <!-- News Boxes-->
          <div class="news-boxes row">
            <!-- News Box 1-->
            <div class="col-md-6 col-sm-6">
              <div class="news-box-outer">
                <div class="news-box-inner">
                  <div class="image"><img src="images/news/news-1.jpg" alt="" class="img-responsive"/>
                    <div class="mask index-1"><a href="#"></a></div>
                  </div>
                  <div class="info-block"><a href="#">
                      <h3>How kids think about earth</h3></a>
                    <h5><i class="fa fa-calendar"></i>12, April 2015</h5>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet</p><a href="#" class="button button-special">Read More</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- News Box 2-->
            <div class="col-md-6 col-sm-6">
              <div class="news-box-outer">
                <div class="news-box-inner">
                  <div class="image"><img src="images/news/news-2.jpg" alt="" class="img-responsive"/>
                    <div class="mask index-1"><a href="#"></a></div>
                  </div>
                  <div class="info-block"><a href="#">
                      <h3>Healthy meals set everyday</h3></a>
                    <h5><i class="fa fa-calendar"></i>12, April 2015</h5>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet</p><a href="#" class="button button-special">Read More</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- News Box 3-->
            <div class="col-md-6 col-sm-6">
              <div class="news-box-outer">
                <div class="news-box-inner">
                  <div class="image"><img src="images/news/news-4.jpg" alt="" class="img-responsive"/>
                    <div class="mask index-1"><a href="#"></a></div>
                  </div>
                  <div class="info-block"><a href="#">
                      <h3> Education guidelines</h3></a>
                    <h5><i class="fa fa-calendar"></i>12, April 2015</h5>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet</p><a href="#" class="button button-special">Read More</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- News Box 4-->
            <div class="col-md-6 col-sm-6">
              <div class="news-box-outer">
                <div class="news-box-inner">
                  <div class="image"><img src="images/news/news-3.jpg" alt="" class="img-responsive"/>
                    <div class="mask index-1"><a href="#"></a></div>
                  </div>
                  <div class="info-block"><a href="#">
                      <h3>Kids with animals </h3></a>
                    <h5><i class="fa fa-calendar"></i>12, April 2015</h5>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet</p><a href="#" class="button button-special">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Counters-->
      <div class="counters-wrapper index-1">
        <div class="container">
          <!-- Counters Row-->
          <div class="counters row">
            <!-- Counter 1-->
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="counter-outer color-1"><i class="fa fa-users"></i>
                <!-- Counter Inner-->
                <div class="counter-inner">
                  <h1 id="counting-1" class="counter"></h1>
                  <h2>Teacher</h2>
                </div>
              </div>
            </div>
            <!-- Counter 2-->
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="counter-outer color-2"><i class="fa fa-bookmark"></i>
                <!-- Counter Inner-->
                <div class="counter-inner"><span id="counting-2" class="counter"></span>
                  <h2>Campus</h2>
                </div>
              </div>
            </div>
            <!-- Counter 3-->
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="counter-outer color-3"><i class="fa fa-user"></i>
                <!-- Counter Inner-->
                <div class="counter-inner"><span id="counting-3" class="counter"></span>
                  <h2>Stundents</h2>
                </div>
              </div>
            </div>
            <!-- Counter 4-->
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="counter-outer color-4"><i class="fa fa-clock-o"></i>
                <!-- Counter Inner-->
                <div class="counter-inner"><span id="counting-4" class="counter"></span>
                  <h2>Teaching Hours</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Portfolio-->
      <div class="portfolio-wrapper index-1">
        <!-- Section Name-->
        <div class="section-name index-1">
          <h1>Our Gallery</h1>
          <div class="sep"></div>
        </div>
        <!-- Item Filter-->
        <ul class="portfolio-filter">
          <li data-filter="*" class="active"><i class="fa fa-circle"></i>All</li>
          <li data-filter=".activities"><i class="fa fa-circle"></i>Activities</li>
          <li data-filter=".event"><i class="fa fa-circle"></i>Event</li>
          <li data-filter=".photos"><i class="fa fa-circle"></i>Photos</li>
          <li data-filter=".program"><i class="fa fa-circle"></i>Program</li>
          <li data-filter=".songs"><i class="fa fa-circle"></i>Songs</li>
          <li data-filter=".video"><i class="fa fa-circle"></i>Video</li>
        </ul>
        <!-- Galley Container-->
        <div class="portfolio-main">
          <div class="gallery row">
            <!-- Image 1-->
            <div class="col-md-3 col-sm-4 col-xs-6 item photos event">
              <div class="image"><span style="background-image: url(images/portfolio/img-1.jpg);" class="image-img"></span>
                <!-- Overlay-->
                <div class="overlay">
                  <div class="overlay-inner">
                    <div class="details">
                      <h5>Event</h5>
                      <h6>Lorem ipsum dolor sit amet</h6>
                    </div><a href="images/portfolio/img-1.jpg" class="nivoLightbox"><i class="fa fa-search-plus"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Image 2-->
            <div class="col-md-3 col-sm-4 col-xs-6 item photos video">
              <div class="image"><span style="background-image: url(images/portfolio/img-2.jpg);" class="image-img"></span>
                <!-- Overlay-->
                <div class="overlay">
                  <div class="overlay-inner">
                    <div class="details">
                      <h5>Event</h5>
                      <h6>Lorem ipsum dolor sit amet</h6>
                    </div><a href="images/portfolio/img-2.jpg" class="nivoLightbox"><i class="fa fa-search-plus"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Image 3-->
            <div class="col-md-3 col-sm-4 col-xs-6 item photos activities program songs">
              <div class="image"><span style="background-image: url(images/portfolio/img-3.jpg);" class="image-img"></span>
                <!-- Overlay-->
                <div class="overlay">
                  <div class="overlay-inner">
                    <div class="details">
                      <h5>Event</h5>
                      <h6>Lorem ipsum dolor sit amet</h6>
                    </div><a href="images/portfolio/img-3.jpg" class="nivoLightbox"><i class="fa fa-search-plus"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Image 4-->
            <div class="col-md-3 col-sm-4 col-xs-6 item photos activities program">
              <div class="image"><span style="background-image: url(images/portfolio/img-4.jpg);" class="image-img"></span>
                <!-- Overlay-->
                <div class="overlay">
                  <div class="overlay-inner">
                    <div class="details">
                      <h5>Event</h5>
                      <h6>Lorem ipsum dolor sit amet</h6>
                    </div><a href="images/portfolio/img-4.jpg" class="nivoLightbox"><i class="fa fa-search-plus"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Image 5-->
            <div class="col-md-3 col-sm-4 col-xs-6 item photos activities event">
              <div class="image"><span style="background-image: url(images/portfolio/img-5.jpg);" class="image-img"></span>
                <!-- Overlay-->
                <div class="overlay">
                  <div class="overlay-inner">
                    <div class="details">
                      <h5>Event</h5>
                      <h6>Lorem ipsum dolor sit amet</h6>
                    </div><a href="images/portfolio/img-5.jpg" class="nivoLightbox"><i class="fa fa-search-plus"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Image 6-->
            <div class="col-md-3 col-sm-4 col-xs-6 item photos activities">
              <div class="image"><span style="background-image: url(images/portfolio/img-6.jpg);" class="image-img"></span>
                <!-- Overlay-->
                <div class="overlay">
                  <div class="overlay-inner">
                    <div class="details">
                      <h5>Event</h5>
                      <h6>Lorem ipsum dolor sit amet</h6>
                    </div><a href="images/portfolio/img-6.jpg" class="nivoLightbox"><i class="fa fa-search-plus"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Image 7-->
            <div class="col-md-3 col-sm-4 col-xs-6 item photos songs program video event">
              <div class="image"><span style="background-image: url(images/portfolio/img-7.jpg);" class="image-img"></span>
                <!-- Overlay-->
                <div class="overlay">
                  <div class="overlay-inner">
                    <div class="details">
                      <h5>Event</h5>
                      <h6>Lorem ipsum dolor sit amet</h6>
                    </div><a href="images/portfolio/img-7.jpg" class="nivoLightbox"><i class="fa fa-search-plus"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Image 8-->
            <div class="col-md-3 col-sm-4 col-xs-6 item photos songs program event">
              <div class="image"><span style="background-image: url(images/portfolio/img-8.jpg);" class="image-img"></span>
                <!-- Overlay-->
                <div class="overlay">
                  <div class="overlay-inner">
                    <div class="details">
                      <h5>Event</h5>
                      <h6>Lorem ipsum dolor sit amet</h6>
                    </div><a href="images/portfolio/img-8.jpg" class="nivoLightbox"><i class="fa fa-search-plus"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- More Btn--><a href="#" class="row button button-special-big">View All Gallery</a>
      </div>
      <!-- Video Section-->
      <div class="video-wrapper index-1">
        <div class="container">
          <div class="row">
            <!-- Left side-->
            <div class="col-md-6 col-sm-6 left-side">         <!-- <img src="images/others/kid1.png" alt="" class="kid-image img-responsive"/> --></div>
            <!-- Right side-->
            <div class="col-md-6 col-sm-6 right-side"><a href="#" class="video-btn"><i class="fa fa-play"></i></a><img src="images/others/monitor-home-1.png" alt="" class="img-responsive"/></div>
          </div>
        </div>
      </div>
      <!-- Contact-->
      <div class="contact-wrapper index-1">
        <div class="container">
          <!-- Section Name-->
          <div class="section-name index-1">
            <h1>Contact us</h1>
            <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy</p>
            <div class="sep"></div>
          </div>
          <!-- Contact Inside-->
          <div class="contact-details row">
            <!-- Adress-->
            <div class="col-md-2 col-sm-4 col-xs-12 adress">
              <div>
                <h2>Adress</h2>
                <div class="icon color-1"><img src="images/icons/map-marker-1.png" alt=""/></div>
                <p>Kidzone Care Center<br/>85 Fentiman Ave</p>
              </div>
            </div>
            <!-- Phone-->
            <div class="col-md-3 col-sm-4 col-xs-12 phone">
              <div>
                <h2>Phone</h2>
                <div class="icon color-2"><img src="images/icons/phone-1.png" alt=""/></div>
                <p><span>Phone:</span> 1-800-64-38<br/><span>Fax:</span> 1-800-64-39</p>
              </div>
            </div>
            <!-- Email-->
            <div class="col-md-2 col-sm-4 col-xs-12 email">
              <div>
                <h2>E-mail</h2>
                <div class="icon color-3"><img src="images/icons/paper-plane-1.png" alt=""/></div>
                <p>office@kidzone.com<br/>kidzone@info.com</p>
              </div>
            </div>
            <!-- Image-->
            <div class="kid col-md-5 col-xs-12"><img src="images/others/kid-2.png" alt="" class="img-responsive"/></div>
          </div>
        </div>
      </div>
      </div>
