<div class="newsletter-wrapper index-1" ng-controller="createClassCtrl">
        <div class="container">
          <!-- Content-->
          <div class="newsletter-inside row">
            <!-- Title-->
            
            <!-- Subcribtion Form-->
            <div class="col-lg-12 col-md-4 subscribe-form">
              <form novalidate class="simple-form" ng-submit="createClass()">
                <div class="field">
                  <input type="text" ng-model="class.name" placeholder="Your class name" />
                  <input type="submit" id="submit" value="Class up" class="submit"/>
                </div>
              </form>
              
            </div>
            <!-- Phone-->
            
          </div>
        </div>
      </div>