<div class="section light-gray-bg">
				<div class="container">
					
					<form role="form" ng-submit="updateInfo()">
					<h2>Class Profile</h2>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group has-success has-feedback">
									<label class="control-label">Class Name</label>
									<input type="text" ng-model="classes.name" class="form-control" id="name" required>
								</div>
							</div>
							
						</div>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group has-success has-feedback">
									<label class="control-label">Tagline</label>
									<input type="text" ng-model="classes.tagline" class="form-control" id="inputWarning3">
									
								</div>
							</div>
							
						</div>
						<h2>Domain</h2>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group has-success has-feedback">
									<label class="control-label">Select your domain</label>
									
									<select ng-model="classes.domains" multiple="" class="form-control" ng-options="domain.name for domain in domains.data">
									</select>

									<button ng-click="addDomain()" class="btn btn-default">Add Domain</button>
									<div>{{classes.domains}}</div>
								</div>
							</div>
						</div>
						<h2>Courses</h2>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group has-success has-feedback">
									<label class="control-label">Add More Courses</label>
									
									<select ng-model="classes.courses" multiple="" class="form-control" ng-options="stream.name for stream in streams.data">
									
									
									</select>

									<button ng-click="addStream()" class="btn btn-default">Add Courses</button>
								</div>
								<div>{{classes.courses}}</div>
							</div>
							<div class="col-md-4">
								<div class="form-group has-success has-feedback">
									<label class="control-label">Your Courses</label>
									
									<select multiple="" class="form-control">
										
									
									</select>

									<button ng-click="addStreams()" class="btn btn-default">Add Courses</button>
								</div>
							</div>
							
						</div>
						<h2>Subjects</h2>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group has-success has-feedback">
									<label class="control-label">Add More Subjects</label>
									<select ng-model="classes.subjects.data" multiple="" class="form-control" ng-options="subject.name for subject in subjects.data">
									
									</select>
									<button ng-click="addSubjects()" class="btn btn-default">Add Subjects</button>
								</div>
								<div>{{classes.subjects}}</div>
							</div>
							<div class="col-md-4">
								<div class="form-group has-success has-feedback">
									<label class="control-label">Your Subjects</label>
									<select multiple="" class="form-control">
										
										<option ng-repeat="subject in classes.subjects" value="{{subject.id}}">{{subject.name}}</option>
									
									</select>
									<button ng-click="addSubjects()" class="btn btn-default">Add Subjects</button>
								</div>
							</div>
							
						</div>
						<h2>Testimonials</h2>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group has-success has-feedback">
									<label class="control-label">Title</label>
									<input type="text" ng-model="classes.testimonial.title" class="form-control" id="name">
								</div>
							</div>
							
						</div>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group has-success has-feedback">
									<label class="control-label">What do they say</label>
									<input type="text" ng-model="classes.testimonial.text" class="form-control" id="inputWarning3">
									
								</div>
							</div>
							
						</div>

						<div class="row">
						<button type="submit" class="btn btn-default">Submit</button>
						</div>
					</form>
					
				</div>
			</div>