<div id="main-wrapper">

<div class="container-fluid menu-bar">
	<div class="container">
    	<div class="row">
        	<div class="col-md-1 col-sm-2 col-xs-4  text-center"><a href="#" class="menu-btn" onclick="openNav()"><img src="images/menu.png" /></a></div>
            <div class="col-md-2 col-sm-2 col-xs-8 text-center">
            	<a href="#" class="logo"><img src="images/logo.png" /></a>
            </div>
            <div class="col-md-7 col-sm-6 col-xs-12">
            	<div class="search-bar">
                	<input type="text" placeholder="Search" />
                    <input type="button" />
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12 text-center" style="padding:0;">
            	<a href="#" class="login"><img src="images/login.png" /><strong>Login</strong></a>
                <a href="#" class="sign-up"><strong>Sign Up</strong></a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid edit-profile-wrapper"  style="    border-top: 4px solid #006FC2;">
	<div class="container" style="max-width:900px;">
    	<div class="row" style="margin-bottom:0;">
         	<div class="col-md-3 text-center">
            	<img src="images/edit-profile/edit-1.jpg" class="center-block" />
            	<a href="#" class="view-more-org" style="margin: 4% auto 0;">Upload Photo</a>
            </div>
            <div class="col-md-9">
            	<div class="row">
                	<div class="col-md-2 text-left" style="padding-right:0;"><span>Class Name: </span></div>
                    <div class="col-md-10"><input ng-model="classes.name" type="text"></div>
                </div>
                <div class="row">
                	<div class="col-md-2 text-left" style="padding-right:0;"><span>Contact No.: </span></div>
                    <div class="col-md-10"><input ng-model="classes.contact" type="text"></div>
                </div>
                <div class="row">
                	<div class="col-md-2 text-left"><span>Address:</span></div>
                    <div class="col-md-10"><textarea ng-model="classes.full_address" cols="3" style="width:100%; background-color:transparent;border: 1px solid #cccccc;"></textarea></div>
                </div>
                <div class="row">
                    <div class="col-md-6" style="padding:0">
                          <div class="col-md-4 text-left"><span> Location: </span></div>
                          <div class="col-md-8"><input type="text"></div>
                    </div>
                    <div class="col-md-6" style="padding:0">
                          <div class="col-md-7 text-left"><span> Establishing Year: </span></div>
                          <div class="col-md-5"><input ng-model="classes.established_year" type="text"></div>
                     </div>
                </div>
                
            </div>
        </div>
    </div>
</div>









<div class="container-fluid domain-wrapper" style="background-color:#EEEEEE; padding:20px 0px 10px;">
	<div class="container text-center" style="background-color:#ffffff">
    	<div class="row text-center">
    	<h1><strong>DOMAIN</strong></h1>
    	</div> 
    	<div class="row">
        	<ul>
            	<li ng-repeat = "domain in domains"><input type="radio" name="domain" ng-model="classes.domain" ><label>{{domain.document.name}}</label></li>
            </ul>
        </div>
    </div>
</div>





<div class="container-fluid" style="background-color:#EEEEEE; padding:10px 0px;">
	<div class="container" style="background-color:#ffffff">
	<div class="row">
    	<div class="col-md-6" style="padding-left: 0;">
        	<div class="container-fluid heading-style-3">
                <div class="row text-center">
                    <h1><strong>COURSES</strong></h1>
                </div>    
            </div>
       		 <div class="container-fluid subject-wrapper">
            <div class="container text-center" style="width:100%;">
            	
                <div class="row" ng-repeat="course in coursesOfferred">
                    
                    <div class="col-md-4">
                        <span><strong>Course Offered :</strong></span>
                    </div>
                    <div class="col-md-8">
                        <span>{{course.document.name}}</span>
                    </div>
                </div>
                <div
                    isteven-multi-select
                    input-model="restOfCourses"
                    output-model="presentCoursesSelected"
                    button-label="name"
                    item-label="id name"
                    tick-property="ticked">
                </div>
                <div class="col-md-12 text-center">
                    <p><strong>Add more courses you offer</strong></p>
                </div>
                <div class="row" ng-repeat="course in coursesField">
                	
                    <div class="col-md-4">
                        <span>Course Name:</span>
                    </div>
                    <div class="col-md-8">
                        <input type="text" ng-model="newCourses[$index].name" style="padding-left:10px;" placeholder="{{course.placeholder}}" />
                    </div>
                </div>
                <div class="row">
                    
                    <div class="col-lg-12 text-center">
                         <button ng-click="addfield()" class="view-more-org" style="margin: 4% auto 0;">Add Another Course</button>
                         <button ng-click="addNewCourses()" class="view-more-org" style="margin: 4% auto 0;">Save New Course</button>
                    </div>
                </div>  
            </div>
        </div>
        </div>
        <div class="col-md-6" style="padding:0; border-left:1px solid #cdcdcd;">
        	<div class="container-fluid heading-style-3">
                <div class="row text-center">
                    <h1><strong>SUBJECTS</strong></h1>
                </div>    
            </div>
            <div class="container-fluid subject-wrapper">
                <div class="container text-center" style="width:100%;">
                    <div class="row">
                    	<div class="col-md-12 text-center">
                            <p><strong>Add subject for BMS Course.</strong></p>
                        </div>
                        <div class="col-md-4">
                            <span>Subject 1: </span>
                        </div>
                        <div class="col-md-8">
                            <input type="text" placeholder="Financal Accounting" style="padding-left:10px;" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <span>Subject 2: </span>
                        </div>
                        <div class="col-md-8">
                            <input type="text" placeholder="Business Statistics" style="padding-left:10px;" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <span>Subject 3:  </span>
                        </div>
                        <div class="col-md-8">
                            <input type="text" placeholder="Principles of Management" style="padding-left:10px;" />
                        </div>
                        <div class="col-lg-12 text-center">
                             <a href="#" class="view-more-org" style="margin: 4% auto 0;">Add Another</a>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
    </div>
</div>






<div class="container-fluid ranker-wrapper" style="background-color:#EEEEEE;padding:10px 0px;">
	<div class="container text-center"  style="background-color:#ffffff;">
    	<div class="row text-center">
            <h1><strong>TEACHERS</strong></h1>
        </div>
    	<div class="row">
        	<div class="col-md-8" style="margin-top:3%;">
            	<div class="row">
                	<div class="col-md-2 text-left"><span> Name: </span></div>
                    <div class="col-md-10"><input type="text" /></div>
                </div>
                <div class="row">
                    <div class="col-md-6" style="padding:0">
                          <div class="col-md-4 text-left"><span> Subject: </span></div>
                          <div class="col-md-8"><input type="text" /></div>
                    </div>
                    <div class="col-md-6" style="padding:0">
                          <div class="col-md-7 text-left"><span> Years Of Experience: </span></div>
                          <div class="col-md-5"><input type="text" /></div>
                     </div>
                </div>
            </div>
            <div class="col-md-4">
            	<div class="col-lg-12 text-center">
                <div class="row">
                	<img src="images/edit-profile/edit-2.jpg" class="center-block">
                </div>
                 <button class="file-upload view-more-org" style="border:0; cursor:pointer;">            
  <input type="file" class="file-input" />Upload Photo</button>
       		</div>
            </div>
        </div>   
    </div>
</div>

<div class="container-fluid ranker-wrapper" style="background-color:#EEEEEE;padding:10px 0px;">
	<div class="container text-center" style="background-color:#ffffff;">
        <div class="row text-center">
            <h1><strong>MERIT RANKERS</strong></h1>
        </div>
    	<div class="row">
        	<div class="col-md-8">
            	<div class="row">
                	<div class="col-md-2 text-left"><span> Name: </span></div>
                    <div class="col-md-10"><input type="text" /></div>
                </div>
                <div class="row">
                    <div class="col-md-6" style="padding:0">
                          <div class="col-md-4 text-left"><span> Subject: </span></div>
                          <div class="col-md-8"><input type="text" /></div>
                    </div>
                    <div class="col-md-6" style="padding:0">
                          <div class="col-md-7 text-left"><span> Years: </span></div>
                          <div class="col-md-5"><input type="text" /></div>
                     </div>
                </div>
                <div class="row">
                    <div class="col-md-6" style="padding:0">
                          <div class="col-md-4 text-left"><span> College: </span></div>
                          <div class="col-md-8"><input type="text" /></div>
                    </div>
                    <div class="col-md-6" style="padding:0">
                          <div class="col-md-7 text-left"><span> Percentage: </span></div>
                          <div class="col-md-5"><input type="text" /></div>
                     </div>
                </div>
            </div>
            <div class="col-md-4">
            	<div class="col-lg-12 text-center">
				<div class="row">
                	<img src="images/edit-profile/edit-2.jpg" class="center-block">
                </div>
                 <button class="file-upload view-more-org" style="border:0; cursor:pointer;">            
  			<input type="file" class="file-input" />Upload Photo</button>

       			</div>
            </div>
        </div> 
         
        <div class="row text-center">
                 <a href="#" class="view-more-org" style="margin: 2% auto 0;">Add Another</a>
       		</div> 
    </div>
</div>



<div class="container-fluid ranker-wrapper" style="background-color:#EEEEEE;padding:10px 0px 20px;">
	<div class="container text-center" style="background-color:#ffffff;">
        <div class="row text-center">
            <h1><strong>ADMISSION</strong></h1>
        </div> 
    	<div class="row">
           <div class="col-md-5">
           		<div class="row">
                	<div class="col-md-6">
                	<span>Admission Open</span>
                    </div>
                    <div class="col-md-6">
                    <!--<input class="input-switch" id="switch" type="checkbox" name="switch" /> 
                    <label for="switch"> 
                        <span class="grip"></span> 
                    </label>-->
                    <input class="input-switch" id="switch2" type="checkbox" name="switch" /> 
                    <label for="switch2"> 
                        <span class="switch-label on">No</span> 
                        <span class="switch-label off">Yes</span> 
                        <span class="grip"></span> 
                    </label>  
                    </div>
           		</div> 
           </div>     
           <div class="col-md-7">
           		<div class="row">
                	<div class="col-md-2">
                		<span>Date:</span>
                    </div>
                    <div class="col-md-5">
                		<input type="text" placeholder="From" style="padding-left:10px;" />
                    </div>
                    <div class="col-md-5">
                		<input type="text" placeholder="To" style="padding-left:10px;" />
                    </div>
                    
                </div>
           </div> 
        </div>   
    </div>
</div>
<div class="container-fluid ranker-wrapper" style="background-color:#EEEEEE;padding:10px 0px 20px;">
    <div class="container text-center" style="background-color:#ffffff;">
        <div class="row text-center">
             <button class="view-more-org" ng-click="addNewCourses()" style="margin: 2% auto 0;">Save Info</button>
        </div> 
    </div>
</div>

<div class="container-fluid" style="background-color:#006FC2;">
	<div class="container">
    	<div class="col-md-6"><p style="color:#ffffff; margin-top: 11px;">Copyright 2016 @ Class Up   |    All Right Reserved</p></div>
        <div class="col-md-6"></div>
    </div>
</div>

<!-- ----------------------------extra-------------------------------------- -->
