<div class="section light-gray-bg">
				<div class="container">
					
					<form role="form">
					<h2>Class Profile</h2>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group has-success has-feedback">
									<label class="control-label">Class Name</label>
									<input type="text" ng-model="classes.name" class="form-control" id="name" required>
								</div>
							</div>
							
						</div>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group has-success has-feedback">
									<label class="control-label">Tagline</label>
									<input type="text" ng-model="classes.tagline" class="form-control" id="inputWarning3">
									
								</div>
							</div>
							
						</div>
						<h2>Domain</h2>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group has-success has-feedback">
									<label class="control-label">Select your domain</label>
									
									<select ng-model="classes.domains" multiple="" class="form-control">
										
										<option ng-repeat="domain in domains">{{domain.name}}</option>
									
									</select>

									<button ng-click="addDomain()" class="btn btn-default">Add Domain</button>
								</div>
							</div>
						</div>
						<h2>Courses</h2>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group has-success has-feedback">
									<label class="control-label">Add More Courses</label>
									
									<select ng-model="streamsOptions" multiple="" class="form-control">
										
										<option ng-repeat="stream in streams.data">{{stream.name}}</option>
									
									</select>

									<button ng-click="addStream()" class="btn btn-default">Add Courses</button>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group has-success has-feedback">
									<label class="control-label">Your Courses</label>
									
									<select ng-model="classes.streams" multiple="" class="form-control">
										
										<option ng-repeat="stream in classes.streams track by $index">{{stream.name}}</option>
									
									</select>

									<button ng-click="addStreams()" class="btn btn-default">Add Courses</button>
								</div>
							</div>
							
						</div>
						<h2>Subjects</h2>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group has-success has-feedback">
									<label class="control-label">Add More Subjects</label>
									<select ng-model="classes.testimonial.title" multiple="" class="form-control">
										
										<option ng-repeat="subject in subjects.data">{{subject.name}}</option>
									
									</select>
									<button ng-click="addSubjects()" class="btn btn-default">Add Subjects</button>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group has-success has-feedback">
									<label class="control-label">Your Subjects</label>
									<select ng-model="classes.subjects" multiple="" class="form-control">
										
										<option ng-repeat="subject in classes.subjects">{{subject.name}}</option>
									
									</select>
									<button ng-click="addSubjects()" class="btn btn-default">Add Subjects</button>
								</div>
							</div>
							
						</div>
						<h2>Testimonials</h2>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group has-success has-feedback">
									<label class="control-label">Title</label>
									<input type="text" ng-model="classes.testimonial.title" class="form-control" id="name">
								</div>
							</div>
							
						</div>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group has-success has-feedback">
									<label class="control-label">What do they say</label>
									<input type="text" ng-model="classes.testimonial.text" class="form-control" id="inputWarning3">
									
								</div>
							</div>
							
						</div>
					</form>
					<form role="form">
						<div class="form-group">
							<label for="disabledTextInput2">Disabled input</label>
							<input type="text" id="disabledTextInput2" class="form-control" placeholder="Disabled input" disabled="">
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" value="">
								Option one is this and that—be sure to include why it's great
							</label>
						</div>
						<div class="checkbox disabled">
							<label>
								<input type="checkbox" value="" disabled="">
								Option two is disabled
							</label>
						</div>
						<br>
						<div class="radio">
							<label>
								<input type="radio" name="optionsRadios" id="optionsRadios4" value="option1" checked="">
								Option one is this and that—be sure to include why it's great
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="optionsRadios" id="optionsRadios5" value="option2">
								Option two can be something else and selecting it will deselect option one
							</label>
						</div>
						<div class="radio disabled">
							<label>
								<input type="radio" name="optionsRadios" id="optionsRadios6" value="option3" disabled="">
								Option three is disabled
							</label>
						</div>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
			</div>