

<div class="container-fluid HomePage-banner">
	<div class="row">
    	<div class="col-lg-2 col-md-2 col-sm-2 text-center">
            <a href="#"><img src="images/location.png" /> <h3 style="display:inline-block; color:#ffffff; vertical-align:bottom; margin: 0;">Mumbai</h3></a>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8"></div>
        <div class="col-lg-2 col-md-2 col-sm-2 text-center">
        	<a href="#" style="border-bottom: 3px solid #00A3E4;color:#ffffff; margin-top: 11px; display: inline-block;"><h3 style="margin: 0;">List Your Classes</h3></a>
        </div>
    </div>
	<div class="container">
    	<div class="row text-center"  style="margin: 5% 0 2%;">
        	<img src="images/logo-wt.png" />
        </div>
        <div class="row text-center">
        	<h2 style="color:#ffffff;">Find the best classes from many options near you!</h2>
        </div>
        <div class="row text-center search-section">
        	<div class="col-lg-3 col-md-3 col-sm-3">
            	<select>
                	<option selected="selected">Select Area</option>
                    <option>Borivali</option>
                    <option>Malad</option>
                    <option>Goregaon</option>
                </select>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7">
            	<input type="text" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
            	<input type="button" value="SEARCH" />
            </div>
        </div>
    </div>
</div>


<div class="container-fluid" style="background-color: #EEEEEE;">
<div class="container-fluid heading-style">
	<div class="row text-center">
    	<h1 style="background-color: #EEEEEE;"><strong>POPULAR CLASSES</strong></h1>
    </div>
</div>

<div class="container-fluid">
	<div class="container popular-classes" style="    max-width: 990px;">
    	<div class="row text-center">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            	<div>
                	<img src="images/vijay-institute.png" />
                    <b>Vijay’s Institute</b>
                    <span><img src="images/location-sm.png" />&nbsp;Mumbai</span>
                    <span><img src="images/star.png" />&nbsp;<b>3/5</b>&nbsp;<b>Rating</b></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            	<div>
                	<img src="images/vijay-institute.png" />
                    <b>Vijay’s Institute</b>
                    <span><img src="images/location-sm.png" />&nbsp;Mumbai</span>
                    <span><img src="images/star.png" />&nbsp;<b>3/5</b>&nbsp;<b>Rating</b></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            	<div>
                	<img src="images/vijay-institute.png" />
                    <b>Vijay’s Institute</b>
                    <span><img src="images/location-sm.png" />&nbsp;Mumbai</span>
                    <span><img src="images/star.png" />&nbsp;<b>3/5</b>&nbsp;<b>Rating</b></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            	<div>
                	<img src="images/vijay-institute.png" />
                    <b>Vijay’s Institute</b>
                    <span><img src="images/location-sm.png" />&nbsp;Mumbai</span>
                    <span><img src="images/star.png" />&nbsp;<b>3/5</b>&nbsp;<b>Rating</b></span>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            	<div>
                	<img src="images/vijay-institute.png" />
                    <b>Vijay’s Institute</b>
                    <span><img src="images/location-sm.png" />&nbsp;Mumbai</span>
                    <span><img src="images/star.png" />&nbsp;<b>3/5</b>&nbsp;<b>Rating</b></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            	<div>
                	<img src="images/vijay-institute.png" />
                    <b>Vijay’s Institute</b>
                    <span><img src="images/location-sm.png" />&nbsp;Mumbai</span>
                    <span><img src="images/star.png" />&nbsp;<b>3/5</b>&nbsp;<b>Rating</b></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            	<div>
                	<img src="images/vijay-institute.png" />
                    <b>Vijay’s Institute</b>
                    <span><img src="images/location-sm.png" />&nbsp;Mumbai</span>
                    <span><img src="images/star.png" />&nbsp;<b>3/5</b>&nbsp;<b>Rating</b></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            	<div>
                	<img src="images/vijay-institute.png" />
                    <b>Vijay’s Institute</b>
                    <span><img src="images/location-sm.png" />&nbsp;Mumbai</span>
                    <span><img src="images/star.png" />&nbsp;<b>3/5</b>&nbsp;<b>Rating</b></span>
                </div>
            </div>
        </div> 
    </div>
</div>

<div class="container" style="margin-bottom:45px;">
	<div class="row text-center">
    	<a href="#" class="view-more">VIEW MORE</a>
    </div>
</div>
</div>

<div class="container-fluid" style="background-color:#006FC2;">
	<div class="container">
    	<div class="col-md-6"><p style="color:#ffffff;    margin-top: 11px;">Copyright 2016 @ Class Up   |    All Right Reserved</p></div>
        <div class="col-md-6"></div>
    </div>
</div>
<script src="js/custom.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap.js"></script>

</body>
</html>
