 <div class="header">
        <!-- Navigation-->
        <nav class="navbar navbar-1">
          <!-- Search Form-->

          <div class="navigation container" >
            <!-- Nav Bar Toggle/collapse and Logo-->
            <div class="navbar-header">
              <h1><div><a href="index.html">{{classDetails.name}}</a></div></h1>
              <!-- Navigation Toggle-->
              <button type="button" data-toggle="collapse" data-target=".myNavbar" class="navbar-toggle"><span class="src-only"></span><i class="fa fa-bars"></i></button>
              <div class="search-nav min"><i class="fa fa-search"></i></div>
            </div>
            <!-- Collpsing Items and Navigation-->
            <div class="myNavbar collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                <!-- Item 1-->
                <li class="menu-item"><a ui-sref="classes.editClassProfile({classDetails:classDetails})">Update Info</a>
                 
                </li>
                <li class="menu-item"><a ui-sref="classes.addReview({classId:classDetails._id})">Add Review</a>{{classDetails.no_of_reviews}}
                 
                </li>
                <!-- Item 2-->
                
                
              </ul>
            </div>
          </div>
        </nav>
        <nav class="navbar duplicate hidden navbar-1">
          <!-- Search Form-->
          <form method="get" action="#" class="search-form container">
            <div>
              <input type="search" name="search-field" placeholder="Type and hit enter..." class="text-search-field"/><i class="close-btn fa fa-close"></i>
            </div>
          </form>
          <div class="navigation container">
            <!-- Nav Bar Toggle/collapse and Logo-->
            <div class="navbar-header">
              <div class="navbar-brand"><a href="index.html"><img src="assets/img/logo.png" alt=""/></a></div>
              <!-- Navigation Toggle-->
              <button type="button" data-toggle="collapse" data-target="#myNavbar" class="navbar-toggle"><span class="src-only"></span><i class="fa fa-bars"></i></button>
              <div class="search-nav min"><i class="fa fa-search"></i></div>
            </div>
            <!-- Collpsing Items and Navigation-->

            
          </div>
        </nav>
        </div>

        <div class="features-wrapper indexn">
        <div class="container">
          <div class="rw-ui-container"></div>
        <div class="banner">
          <img src="images/static/yogic-tales-banner.jpg" style="background-position: center; height:100%; width:100%"></img>
        </div>

        </div>
        </div>
      

      <!-- Features-->
      
        
          <!-- Features Row-->
          <div class="row">

            <!-- Features Left-->
            
            <!-- Thumbnail-->
            <div class="thumb col-md-6 logo"><img src="images/portfolio/img-1.jpg" alt="" class="img-responsive"/></div>
            <!-- Features Right-->
            
              </div>
            
         
        </div>
      </div>
      <!-- About Us-->
   
      <!-- Counters-->
      
      <!-- Team-->
      <div id="teacher" class="team-wrapper index-2" ng-if="classDetails.teachers.length > 0">
        <div class="container">
          <!-- Section Name-->
          <div class="section-name index-2">
            <div class="sep" id="teachers"></div>
            <h1>Our Teachers</h1>
            
          </div>
          <div class="team-members" >
            <!-- Team Member 1-->
            <div class="col-team-member col-md-6 col-sm-12" ng-repeat="teacher in classDetails.teachers">
              <div class="team-member">
                <div class="image"><img src="images/teachers/teacher-5.jpg" alt="" class="img-responsive"/>
                  <div class="mask index-2"><a href="#"><i class="fa fa-mail-forward"></i></a></div>
                </div>
                <div class="info-block">
                 
                      <a href="#">
                          <h3>{{teacher.name}}</h3>
                      </a>
                        <p><h4>Experience: {{teacher.exp}}</h4></p>
                      
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      
      <!-- streams-->
      <div class="news-wrapper index-1" >
        <div class="container" ng-if="classDetails.courses.length > 0">
          <!-- Section Name-->
          <div class="section-name index-1">
            <h1>Our Courses</h1>
             <div class="sep"></div>
          </div>
          <!-- News Boxes-->
          <div class="news-boxes row" ng-repeat="course in classDetails.courses">
          
            <!-- News Box 1-->
            <div class="col-sm-6 col-md-3 isotope-item app-development">
                  <div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
                    <div class="overlay-container">
                      <img src="images/portfolio-2.jpg" alt="">
                      <div class="overlay-to-top">
                        <p class="small margin-clear"><em>App development <br> Lorem ipsum dolor sit</em></p>
                      </div>
                    </div>
                    <div class="body">
                      <h3>{{course.name}}</h3>
                      <div class="separator"></div>
                      <p>{{course.description}}</p>
                      <a href="portfolio-item.html" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>
                    </div>
                  </div>
            </div>
            
            
          </div>
        </div>
      

      
        <div class="container" ng-if="classDetails.subjects.length > 0">
          <!-- Section Name-->
          <div class="section-name index-1">
            <h1>Our Subjects</h1>
             <div class="sep"></div>
          </div>
          <!-- News Boxes-->
          <div class="news-boxes row" ng-repeat="subject in classDetails.subjects">
          
            <!-- News Box 1-->
            <div class="col-sm-6 col-md-3 isotope-item app-development">
                  <div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
                    <div class="overlay-container">
                      <img src="images/portfolio-2.jpg" alt="">
                      <div class="overlay-to-top">
                        <p class="small margin-clear"><em>App development <br> Lorem ipsum dolor sit</em></p>
                      </div>
                    </div>
                    <div class="body">
                      <h3>{{subject.name}}</h3>
                      <div class="separator"></div>
                      <p>{{subject.description}}</p>
                      <a href="portfolio-item.html" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>
                    </div>
                  </div>
            </div>
            
            
          </div>
        </div>
      </div>
      <!-- Video-->
      <div class="video-wrapper index-2">
        <!-- Background-->
        <div class="container-fluid background"></div>
        <!-- Video Container-->
        <div class="container">
          <div class="placeholder">
          <iframe width="420" height="315"
            src="http://www.youtube.com/embed/XGSy3_Czz8k">
          </iframe>
          
        </div>
      </div>
      <!-- Contact-->
      <div class="contact-wrapper index-1">
        <div class="container">
          <!-- Section Name-->
          <div class="section-name index-1">
            <h1>Contact us</h1>
            <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy</p>
            <div class="sep"></div>
          </div>
          <!-- Contact Inside-->
          <div class="contact-details row">
            <!-- Adress-->
            <div class="col-md-4 col-sm-6 col-xs-12 adress">
              <div>
                <h2>Adress</h2>
                <div class="icon color-1"><img src="img/icons/map-marker-1.png" alt=""/></div>
                <p>Kidzone Care Center<br/>85 Fentiman Ave</p>
              </div>
            </div>
            <!-- Phone-->
            <div class="col-md-4 col-sm-6 col-xs-12 phone">
              <div>
                <h2>Phone</h2>
                <div class="icon color-2"><img src="img/icons/phone-1.png" alt=""/></div>
                <p><span>Phone:</span> 1-800-64-38<br/><span>Fax:</span> 1-800-64-39</p>
              </div>
            </div>
            <!-- Email-->
            <div class="col-md-4 col-sm-6 col-xs-12 email">
              <div>
                <h2>E-mail</h2>
                <div class="icon color-3"><img src="img/icons/paper-plane-1.png" alt=""/></div>
                <p>office@kidzone.com<br/>kidzone@info.com</p>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      



