<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>
		
		<!-- page wrapper start -->
		<!-- ================ -->
		<div class="page-wrapper">
		
			<!-- background image -->
			<div class="fullscreen-bg"></div>

			<!-- banner start -->
			<!-- ================ -->
			<div class="pv-40 dark-translucent-bg">
				<div class="container">
					<div class="object-non-visible text-center" data-animation-effect="fadeInDownSmall" data-effect-delay="100">

<div class="form-block center-block p-30 light-gray-bg border-clear text-left">
							<h2 class="title">Sign Up</h2>
							<form class="form-horizontal" role="form" ng-submit="signup()" ng-controller="loginSignupController">
								<div class="form-group has-feedback">
									<label for="inputName" class="col-sm-3 control-label">First Name <span class="text-danger small">*</span></label>
									<div class="col-sm-8">
										<input type="text" ng-model="user.firstName" class="form-control" id="inputName" placeholder="Fisrt Name" required>
										<i class="fa fa-pencil form-control-feedback"></i>
									</div>
								</div>
								<div class="form-group has-feedback">
									<label for="inputLastName" class="col-sm-3 control-label">Last Name <span class="text-danger small">*</span></label>
									<div class="col-sm-8">
										<input type="text" ng-model="user.lastName" class="form-control" id="inputLastName" placeholder="Last Name" required>
										<i class="fa fa-pencil form-control-feedback"></i>
									</div>
								</div>
								<div class="form-group has-feedback">
									<label for="inputUserName" class="col-sm-3 control-label">User Name <span class="text-danger small">*</span></label>
									<div class="col-sm-8">
										<input type="text" ng-model="user.username" class="form-control" id="inputUserName" placeholder="User Name" required>
										<i class="fa fa-user form-control-feedback"></i>
									</div>
								</div>
								<div class="form-group has-feedback">
									<label for="inputEmail" class="col-sm-3 control-label">Email <span class="text-danger small">*</span></label>
									<div class="col-sm-8">
										<input type="email" ng-model="user.email" class="form-control" id="inputEmail" placeholder="Email" required>
										<i class="fa fa-envelope form-control-feedback"></i>
									</div>
								</div>
								<div class="form-group has-feedback">
									<label for="inputPassword" class="col-sm-3 control-label">Password <span class="text-danger small">*</span></label>
									<div class="col-sm-8">
										<input type="password" ng-model="user.password" class="form-control" id="inputPassword" placeholder="Password" required>
										<i class="fa fa-lock form-control-feedback"></i>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-3 col-sm-8">
										<div class="checkbox">
											<label>
												<input type="checkbox" required> Accept our <a href="#">privacy policy</a> and <a href="#">customer agreement</a>
											</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-3 col-sm-8">
										<button type="submit" class="btn btn-group btn-default btn-animated">Sign Up <i class="fa fa-check"></i></button>
									</div>
								</div>
							</form>
						</div>
						</div>
						</div>
						</div>
						</div>

<div class="main">
	<div class="social-icons">
		 <div class="col_1_of_f span_1_of_f"><a href="https://getclassup.stamplayapp.com/auth/v1/facebook/connect">
		    <ul class='facebook'>
		    	<i class="fb"> </i>
		    	<li>Connect with Facebook</li>
		    	<div class='clear'> </div>
		    </ul>
		    </a>
		 </div>	
		 <div class="col_1_of_f span_1_of_f"><a href="#">
		    <ul class='twitter'>
		      <i class="tw"> </i>
		      <li>Connect with Twitter</li>
		      <div class='clear'> </div>
		    </ul>
		    </a>
		</div>
		<div class="clear"> </div>	
      </div>
      <h2>Or Signup with</h2>
		<form ng-submit="signup()" ng-controller="loginSignupController">
		   <div class="lable">
		        <div class="col_1_of_2 span_1_of_2">	
		        	<input ng-model="user.firstName" type="text" placeholder="First Name">
		        </div>
                <div class="col_1_of_2 span_1_of_2">
                	<input ng-model="user.lastName" type="text" placeholder="Last Name">
                </div>
                
		        <input ng-model="user.email" type="text" placeholder ="your@email.com">
		        <input ng-model="user.password" type="password" placeholder="Password">
		   <div class="clear"> </div>
			  <input type="submit" id="submit" value="Sign Up"/>
		  <!-- <h3>By creating an account, you agree to our <span class="term"><a href="#">Terms & Conditions</a></span></h3> -->
		   </div>
		</form>
		</div>