<div ng-controller="AccountController">
<!--  <div id="preloaderKDZ"></div> -->
    <div id="site" class="site">
            <nav class="navbar navbar-2" style="z-index:2">
                <!-- Search Form-->
                
                <div class="navigation container-fluid">
                    <!-- Nav Bar Toggle/collapse and Logo-->
                    <div class="navbar-header">
                        <div class="navbar-brand" style="vertical-align:middle">
                            <a ui-sref="main"><h2>Classup</h2></a>
                        </div>
                    <!-- Navigation Toggle-->
                        <button type="button" data-toggle="collapse" data-target=".myNavbar" class="navbar-toggle"><span class="src-only"></span><i class="fa fa-bars"></i></button>
                    </div>
                <!-- Collpsing Items and Navigation-->
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right" style="height:50px">
                        <!-- Search Bar -->
                            <!-- Item 1-->
                            <!--<li class="menu-item" style="padding-top:25px">
                                <form class="contact-form">
                                    <div class="field">
                                    <input type="text" placeholder="Search" class="form-control" ng-model="searchParameter"/>
                                    <!-- <div class="glyphicon glyphicon-search form-control-feedback" style="top:10px" ng-click="search()"></div> 

                                    </div>
                                </form>
                            </li>
                            <li class="menu-item" style="padding-top:25px">
                                 <div class="search-nav big" ng-click="search()"><i class="fa fa-search"></i></div>
                             </li>-->
                            <!-- <li class="menu-item" style="padding-top:25px"><a data-toggle="dropdown" style="color: #ffffff;
    background: #ffa800;
    border-radius: 22px;" >Create Classes</i></a>
                            </li> -->
                            <!-- Item 2-->
                            <li>
                            <div class="header-menu" ng-hide="currentUser">
                              <span class="header-item"  ng-cloak>
                                <a  ui-sref="login">Login</a>
                              </span>
                             
                            </div>
                            </li>
                            <li>
                            <div class="" ng-hide="currentUser">
                             <span class="header-item" ng-cloak>
                                <a  class="button is-warning" ui-sref="signup">Sign Up
                                </a>
                              </span> 
                            </div>
                            </li>
                            <div class="header-right header-menu" ng-show="currentUser">
                              <span class="header-item" ng-cloak>
                                <img ng-src="{{currentUser.profileImg}}">
                              </span>
                              <span class="header-item" ng-cloak>
                                <a href="#" class="is-solid" ng-bind="currentUser.displayName"></a>
                              </span>
                              <span class="header-item" ng-cloak>
                                <a class="button is-warning is-inverted is-outlined" ng-click="logout()">Logout</a>
                              </span>
                            </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <nav class="navbar duplicate hidden affix navbar-fixed-top scroll navbar-2"> <!--When navbar minimizes -->
                <div class="navigation container">
                <!-- Nav Bar Toggle/collapse and Logo-->
                    <div class="navbar-header">
                        <div class="navbar-brand">
                            <a href="index-2.html"><img src="images/logo.png" alt="" /></a>
                        </div>
                        <!-- Navigation Toggle-->
                        <button type="button" data-toggle="collapse" data-target="#myNavbar" class="navbar-toggle"><span class="src-only"></span><i class="fa fa-bars"></i></button>

                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>